.App {
  text-align: center;
  background-color: #fbfbf8;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: rgb(49, 66, 61);
  animation: fadeInAnimation ease 0.5s;
}

.together {
  height: 4rem;
  margin: 0.5rem;
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollhost::-webkit-scrollbar {
  display: none;
}

.scrollhost ::-moz-scrollbar {
  display: none;
}

.scrollhost {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent; /*just hides the scrollbar for firefox */
}

#appButton {
  background-color: #335c67;
  color: white;
}

#appButton:hover {
  background-color: rgb(49, 66, 61);
}

#singleChatMessage {
  animation: fadeInAnimation ease 0.5s;
}
